{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block attic %}
{{ super() }}
{% endblock %}

{% block mainmenu %}
{{ super() }}
{% endblock %}

{% block content -%}
{{ super() }}
<div class="content">
    <h2>Write to us:</h2>
    <form action="/feedback" method="post" class="form_contact">
        <p><label>Name: </label> <input class="input" type="text" name="username" value="" required/></p>
        <p><label>Email: </label> <input class="input" type="text" name="email" value="" required/></p>
        <p><label>Message: </label></p>
        <p><textarea class="textarea" name="message" rows="10" cols="40"></textarea></p>
        <p><input type="submit" value="Send"></p>
    </form>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
