{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block attic %}
{{ super() }}
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block mainmenu %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="content">
    <p>
        Порядок проведения Гран-при, обязанности команд и пилотов определяются спортивным регламентом. Его положения
        должны неукоснительно соблюдаться всеми участниками чемпионата мира Формулы-1.
    </p>
    <p>
        На Гран-при от одной команды могут выступать 2 пилота в квалификации и гонке. Кроме того, в свободных заездах
        в пятницу команда может использовать третьего пилота, но принимать участие в одной сессии могут только 2
        гонщика от команды.
    </p>
    <p>
        В случае болезни или иных уважительных причин третий пилот может заменить на квалификации и гонке одного из
        основных пилотов команды, но 3-й пилот может быть допущен к гонке только если он участвовал в квалификационных
        заездах. Очки, набранные запасным пилотом в гонке, будут начислены на его личный счёт в чемпионате мира;
        в борьбе за кубок конструкторов эти очки будут прибавлены к счёту команды, как если бы за неё выступал основной
        пилот. В течение сезона за одну команду могут выступать, набирая для себя и для неё очки, до 4 пилотов.
    </p>
    <p>
        Чтобы участвовать в Гран-при, пилот обязан получить суперлицензию Международной федерации автоспорта.
    </p>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}