{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block attic %}
{{ super() }}
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block mainmenu %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="content">
  <h2>Страница не найдена или находится в обработке.</h2>
  <div class="error404">
    <div class="tenor-gif-embed" data-postid="24938700" data-share-method="host" data-aspect-ratio="1" data-width="100%">
    <a href="https://tenor.com/view/felicidades_fran_2022-gif-24938700">Felicidades_fran_2022 Sticker</a> from
    <a href="https://tenor.com/search/felicidades_fran_2022-stickers">Felicidades_fran_2022 Stickers</a>
  </div>
  <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
</body>
</html>