{% extends 'base.html' %}

{% block title %}
    {{ super() }}
{% endblock %}

{% block attic %}
    {{ super() }}
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block mainmenu %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="content">
        <h2>Спортивный регламент «Формулы-1»</h2>
        <h3>Общие положения.</h3>
        <p>
            Гран-при продолжается в течение трёх дней: с пятницы по воскресенье (исключение — Гран-при Монако
            продолжается с четверга по воскресенье). Гран-при состоит из свободных заездов, квалификации и гонки.
        </p>
        <p>
            В квалификации и гонке от каждой команды принимают участие 2 пилота. В случае болезни или иных причин третий
            пилот может заменить на квалификации и гонке одного из основных пилотов команды. В течение сезона за одну
            команду могут выступать, набирая для себя и для неё очки, до 4 пилотов.
        </p>
        <p>
            Чтобы участвовать в Гран-при, пилот обязан получить суперлицензию Международной автомобильной федерации.
        </p>
        <h3>Распределение номеров.</h3>
        <p>
            Каждый автомобиль, принимающий участие в гонке, имеет свой гоночный номер. До 2014 года номера
            распределялись следующим образом:
        </p>
        <p>
            Номер 1 получает только автомобиль действующего чемпиона мира.
        </p>
        <p>
            Номер 2 получает напарник действующего чемпиона мира.
        </p>
        <p>
            Далее номера распределяются в порядке мест, занятых командами в Кубке конструкторов прошлого года,
            за исключением номера 13, который пропускается при распределении (команда сама распределяет номера
            между своими пилотами).
        </p>
        <p>
            В случае, если действующий чемпион мира не выступает в чемпионате мира, то команда, занявшая первое
            место в Кубке конструкторов прошлого года, получает номера 0 и 2.
        </p>
        <p>
            Начиная с сезона 2014 вводится правило постоянных, пожизненных, персональных номеров для всех
            пилотов. Гонщикам предложено выбрать номера от 2 до 99 (за исключением номера 17, который посмертно
            закреплен за Жюлем Бьянки), под которыми они будут выступать в Формуле 1 на протяжении всей карьеры.
            Номер 1 резервируется исключительно для чемпиона прошедшего сезона, является переходящим, но не
            обязательным для использования в течение сезона. Номер закрепляется за пилотом и действителен в
            течение трёх лет после прекращения им выступления в Формуле-1, затем номер попадает в пул доступных
            для выбора номеров.
        </p>
        <h3>Свободные заезды.</h3>
        <p>
            Свободные заезды проводятся в течение трёх сессий: в пятницу (ГП Монако — четверг) с 10:00 до
            11:30 (первая сессия) и с 14:00 до 15:30 (вторая сессия), в субботу с 11:00 до 12:00 (третья сессия)
            местного времени. В течение свободных заездов гонщики проезжают трассу в свободном, комфортном для
            них режиме, чтобы ознакомиться с трассой и настроить болид.
        </p>
        <p>
            На свободных заездах команды имеют право использовать 2 болида. Разрешается замена пилотов.
        </p>
        <p>
            Чтобы участвовать в гонке, пилот обязан участвовать (то есть как минимум попытаться проехать 1 круг)
            в третьей сессии свободных заездов или квалификации.
        </p>
        <h3>Квалификация.</h3>
        <p>
            За многолетнюю историю Формулы-1 формат квалификации изменялся несколько раз.
        </p>
        <p>
            Ниже приведён действующий регламент квалификации на 2021 год при условии, что в чемпионате будут
            принимать
            участие 12 команд.
        </p>
        <p>
            Квалификация проводится в субботу, с 14:00 до 15:00 по местному времени.
        </p>
        <p>
            Квалификация состоит из трёх сессий. Во время каждой сессии пилот может проехать столько кругов,
            сколько захочет и успеет. В зачёт пойдёт круг с наименьшим временем.
        <ol>
            <li>
                В первой сессии участвуют все пилоты. Они проезжают произвольное число кругов с 14:00 до
                14:18.
                Для каждого пилота выбирается лучшее время прохождения круга, и последние 5 пилотов выбывают
                из
                борьбы за стартовую позицию. Пилоты, показавшие время хуже 107 % от времени лидера
                квалификацию
                не проходят, и могут стартовать в гонке только по решению стюардов.
            </li>
            <li>
                Во второй сессии принимают участие оставшиеся 15 пилотов, снова проезжающих круги в
                произвольном режиме с 14:27 до 14:42. Опять выбывают 5 пилотов, показавших худшее время по
                итогам данной сессии.
            </li>
            <li>
                В третьей сессии принимают участие 10 пилотов, показавших лучшие времена прохождения круга
                во
                второй сессии, с 14:48 до 15:00. Они соревнуются между собой на тех же условиях, что и
                ранее.
            </li>
        </ol>
        </p>
        <p>
            Во всех трёх сессиях пилоты могут проезжать квалификационные круги с любым количеством топлива в
            баках.
            После окончания квалификации все автомобили дозаправляются топливом, с которым они будут стартовать
            в
            гонке.
        </p>
        <p>
            В квалификации запрещается мешать другим пилотам проходить квалификацию.
        </p>
        <h3>Стартовая решетка</h3>
        <p>
            Стартовая решетка состоит из стартовых позиций, образующих линии по 2 в каждой. Расстояние между
            стартовыми позициями 8 метров.
        </p>
        <p>
            Стартовая решетка составляется следующим образом:
            <ul class="tab">
                <li>
                    Позиции с 16 по 20 занимают пилоты, занявшие соответствующие позиции в первой сессии
                    квалификации.
                </li>
                <li>
                    Позиции с 11 по 15 занимают пилоты, занявшие соответствующие позиции во второй сессии
                    квалификации.
                </li>
                <li>
                    Позиции с 1 по 10 занимают пилоты, занявшие соответствующие позиции в третьей сессии
                    квалификации.
                </li>
            </ul>
        </p>
        <p>
            Если два или более пилотов покажут одинаковое время в любой сессии квалификации, то высшую позицию
            займет пилот, показавший это время раньше.
        </p>
        <p>
            Если более чем один пилот не покажет времени в любой сессии квалификации, то позиции будут
            распределены
            следующим образом:
            <ul class="tab">
                <li>
                    Высшую позицию получат пилоты, которые начали быстрый круг, но не закончили его.
                </li>
                <li>
                    За ними будут располагаться пилоты, вышедшие на прогревочный круг, но не закончившие его.
                </li>
                <li>
                    Последними будут пилоты, не начавшие прогревочный круг.
                </li>
            </ul>
        </p>
        <p>
            Если под одну из вышеперечисленных категорий попадают более одного пилота, то места распределяются в
            порядке их номеров.
        </p>
        <h3>Гонка</h3>
        <p>
            Гонка проводится в воскресенье. За гонку пилоты должны проехать количество кругов, которое заранее
            определяется исходя из длины круга автодрома. Дистанция гонки не может быть меньше, чем 305 км (исключение
            — Гран-при Монако). При этом гонка не может продолжаться более двух часов. Это означает, что если за 2 часа
            лидер не преодолеет всю дистанцию гонки, то по истечении 2 часов круг, на котором в данный момент будут
            находиться гонщики, будет объявлен последним. В случае остановки гонки время остановки будет добавлено к
            лимиту в 2 часа, но при этом даже с добавленным временем гонка не может продолжаться более 4 часов.
        </p>
        <p>
            В течение гонки команда может использовать произвольное количество пит-стопов для смены резины, замены
            повреждённых частей (если это разрешено) и изменения настроек переднего антикрыла. Однако, дозаправка по
            ходу гонки запрещена. Количество пит-стопов и то, как они будут распределены по ходу гонки, определяет
            стратегию гонки. Часто более выгодная стратегия может привести к превосходству более слабой машины над
            более сильной. Чаще всего команды проводят от 1 до 3 пит-стопов в зависимости от трассы, машины и выбранной
            стратегии. В течение гонки каждый пилот должен пройти хотя бы 1 круг на двух типах сухой резины из трёх
            имеющихся (исключением является дождевая гонка) Заезжая на пит-лейн, гонщик обязан снизить скорость до
            80 км/ч (во время городских гран-при — до 60 км/ч). Это обусловлено как вопросами безопасности, так и тем,
            что иногда путь через пит-лейн короче пути по трассе.
        </p>
        <h3>Предстартовая процедура.</h3>
        <p><b>
            30 минут до старта
        </b></p>
        <p>
            Открывается пит-лейн, и болиды занимают своё место на стартовой решетке с заглушёнными моторами. Пилот
            может выполнить несколько ознакомительных кругов, но обязан следовать через пит-лейн (на сниженной скорости)
            и не пересекать стартовую решетку.
        </p>
        <p><b>
            17 минут до старта
        </b></p>
        <p>
            Звучит звуковой сигнал, который сообщает о закрытии пит-лейн через две минуты.
        </p>
        <p><b>
            15 минут до старта
        </b></p>
        <p>
            Пит-лейн закрывается, и звучит повторный звуковой сигнал. Всякая машина, не покинувшая пит-лейн, может
            стартовать из боксов, но после того, как выезд с пит-лейн минует весь пелотон на первом круге. Зажигаются
            пять пар красных сигналов стартового светофора.
        </p>
        <p><b>
            10 минут до старта
        </b></p>
        <p>
            Звучит звуковой сигнал, и показывается информационное табло. Все, за исключением пилотов, официальных
            представителей и механиков команд, должны покинуть стартовую решетку.
        </p>
        <p><b>
            5 минут до старта
        </b></p>
        <p>
            Звучит звуковой сигнал, и показывается информационное табло. Гаснет одна пара красных сигналов. Начинается
            предстартовый отсчёт. К этому моменту на всех машинах должны быть надеты колеса, в противном случае они
            стартуют с последнего места стартовой решетки или с пит-лейн. Всякая машина, не занявшая своё место на
            стартовой решётке к моменту пятиминутного сигнала, должна стартовать с пит-лейн.
        </p>
        <p><b>
            3 минуты до старта
        </b></p>
        <p>
            Звучит звуковой сигнал, и показывается информационное табло. Горят три пары красных сигналов. Пилоты должны
            находиться в машинах и быть пристёгнутыми ремнями безопасности.
        </p>
        <p><b>
            1 минута до старта
        </b></p>
        <p>
            Звучит звуковой сигнал, и показывается информационное табло. Горят две пары красных сигналов. Моторы должны
            быть заведены, технический персонал должен покинуть стартовую решетку до момента 15-секундного сигнала.
        </p>
        <p><b>
            15 секунд до старта1 минута до старта
        </b></p>
        <p>
            Звучит звуковой сигнал, и показывается информационное табло. Горит одна пара красных сигналов. Всякий пилот,
            которому требуется помощь для старта, должен поднять руку. В этом случае позади машины становятся маршалы
            с желтыми флагами, чтобы предупредить остальных пилотов.
        </p>
        <p><b>
            Старт
        </b></p>
        <ol>
            <li>
                Гаснет последняя пара красных сигналов стартового светофора. Зажигаются два зелёных сигнала. Машины уходят
                на свой прогревочный круг. Через 30 секунд после старта прогревочного круга зеленые сигналы гаснут.
                Прогревочный круг используется, в основном, для того, чтобы прогреть резину, улучшив таким образом её
                гоночные характеристики. Маршалы должны убрать все машины, которые остались на стартовой решетке,
                наикратчайшим путём на пит-лейн, сразу после того, как пелотон покинул решетку. Если гонщик в состоянии
                самостоятельно вернуть машину в гонку, ему разрешается уйти на прогревочный круг.
            </li>
            <li>
                Обгон на прогревочном круге разрешен только в тех случаях, когда машина не смогла вовремя покинуть свою
                стартовую позицию или машина соперника настолько замедлилась, что без обгона будут задержаны все
                гонщики, следующие позади. В подобных случаях обгоны разрешаются только для того, чтобы восстановить
                изначальный порядок старта. Если машина задержалась на стартовой решётке, то она не имеет права на
                обгон движущейся впереди неё машины, если все соперники уже пересекли линию старта к моменту задержки
                на стартовой решетке (в этом случае задержавшийся гонщик уходит в гонку с последнего места). Если под
                это правило попадает более одного участника, то располагаются они в порядке ухода на прогревочный круг.
            </li>
            <li>
                Если гонщик не в состоянии начать прогревочный круг, то он должен поднять руку. После перемещения
                машины на пит-лейн механикам вновь разрешается работать над машиной.
            </li>
            <li>
                В конце прогревочного круга машины останавливаются на своих местах на стартовой решётке (место
                указывается маршалом с помощью таблички). Моторы машин должны работать. Как только все машины заняли
                своё место, стартер даёт сигнал «пять секунд» — зажигается первая пара красных сигналов светофора.
                Каждую секунду загорается следующая пара сигналов.
            </li>
            <li>
                За одну секунду до старта горят все пять сигналов светофора. Гонка начинается, когда огни погаснут.
            </li>
            <li>
                В случае фиксирования фальстарта официальным радиомаяком ФИА, размещенном на машине, участник будет
                наказан штрафом: десятисекундным «стоп-энд-гоу» или проездом по пит-лейн.
            </li>
        </ol>
        <p><b>
            Отмена старта
        </b></p>
        <p>
            Если проблема возникает после возвращения на стартовую решетку в конце прогревочного круга, должна быть
            выдержана следующая процедура:
        </p>
        <p>
            Если создается проблема, которая может вызвать опасность во время старта, пилот должен поднять обе руки,
            сигнализируя об этом. Ответственные за этот ряд поля маршалы тут же должны начать махать желтыми флагами.
            Если директор гонки считает, что старт гонки надо отложить, то через две секунды после зажигания сигналов
            отмены старта должны загореться зеленые сигналы светофора. Будет показана доска с объявлением
            «Дополнительный прогревочный круг» и все машины, которые могут сделать это, должны покинуть стартовую
            решетку и уйти на дополнительный прогревочный круг, а машина, на которой возникла проблема, будет откачена
            на пит-лейн.
        </p>
        <p>
            Затем команда может попытаться решить проблему и если это успешно, то машина сможет принять старт с
            пит-лейн. Если таких машин больше одной, их стартовый порядок определяется очерёдностью их прибытия к концу
            пит-лейн. Каждый раз при подобном происшествии дистанция гонки сокращается на 1 круг.
        </p>
        <p><b>
            Отложенный старт
        </b></p>
        <p>
            Если после начала прогревочного круга и до начала гонки старт по каким-либо причинам требуется отложить,
            то об этом просигнализируют мигающие оранжевые огни на светофоре и информационное табло «Отложенный старт».
            Гонщики остаются на стартовой решетке и прекращают работу двигателей. С этого момента инициируется
            предстартовая процедура, начиная с момента «5 минут до старта».
        </p>
        <p><b>
            Дождевой старт
        </b></p>
        <p>
            Стандартная стартовая процедура в этом случае может быть изменена следующим образом:
            <ol>
                <li>
                    Если дождь начинает идти после пятиминутного сигнала, но до момента начала гонки, то старт
                    откладывается, и командам разрешается сменить резину. С этого момента инициируется предстартовая
                    процедура, начиная с момента «15 минут до старта».
                </li>
                <li>
                    Если к моменту старта директор гонки считает, что количество воды на трассе является небезопасным
                    даже при использовании дождевых шин, то старт откладывается на неопределённое время. О времени
                    старта будет сообщено дополнительно, но не позднее, чем за 10 минут.
                </li>
                <li>
                    Гонка может принять старт позади машины безопасности, если количество воды на трассе слишком велико
                    для безопасного старта, но недостаточно для его переноса. В этом случае прогревочный круг не
                    проводится, гонка начинается как только загораются зеленые огни светофора.
                </li>
            </ol>
        </p>
        <p><b>
            Машина безопасности
        </b></p>
        <p>
            Машина безопасности (она же «сейвти-кар») может быть использована только в тех случаях, когда участникам
            или официальным лицам в настоящий момент грозит физическая опасность, но обстоятельства не позволяют
            остановить гонку. Решение о выезде машины безопасности принимается дирекцией гонки.
        </p>
        <p>
            Машина безопасности выезжает на трассу с пит-лейн, вне зависимости от местоположения лидера гонки на трассе.
            Все маршалы демонстрируют желтые флаги и таблички «SC». На машине безопасности загораются мигающие оранжевые
            огни. Все участники должны снизить скорость и выстроиться за машиной безопасности на расстоянии не больше,
            чем десять длин корпуса машин. Контроль снижения скорости пилотами осуществляет специальная система,
            указывающая минимальное время прохождения круга.
        </p>
        <p>
            Во время нахождения машины безопасности на трассе, обгоны запрещены, за исключением:
            <ul class="tab">
                <li>
                    пилоту при помощи зеленых огней дается прямое указание на обгон пилотом машины безопасности;
                </li>
                <li>
                    обгоняемая машина замедляется из-за очевидных проблем;
                </li>
                <li>
                    машину, въезжающую на пит-лейн с момента пересечения ей первой линии первой линии сейфти-кара;
                </li>
                <li>
                    машину, выезжающую с пит-лейн до момента пересечения ей второй линии первой линии сейфти-кара;
                </li>
                <li>
                    машину, остановившуюся на пит-лейн.
                </li>
            </ul>
        </p>
        <p>
            Если между машиной безопасности и лидером гонки есть машины на трассе, то они должны обогнать машину
            безопасности (после того, как он подаст гонщику сигнал мигающими зелёными огнями) и присоединиться к
            концу пелетона на следующем круге.
        </p>
        <p>
            Пилоты имеют право заезжать на пит-лейн, но при этом обязаны сменить резину.
        </p>
        <p>
            Если часть трассы блокирована, то машина безопасности может проезжать через пит-лейн. Оранжевые огни
            по-прежнему мигают. Машинам разрешается заезжать к своим механикам для обслуживания.
        </p>
        <p>
            Машина безопасности остаётся на трассе до тех пор, пока опасность, угрожающая гонке, не будет устранена,
            и все пилоты, начиная с лидера, не выстроятся позади машины безопасности. Сигналом окончания периода машины
            безопасности являются погашенные оранжевые огни, а также соответствующее сообщение на техническом мониторе.
            Это означает, что машина безопасности покинет трассу в конце этого круга.
        </p>
        <p>
            Как только машина безопасности заезжает в боксы, на светофоре на прямой «старт-финиш» загораются зеленые
            сигналы и маршалы демонстрируют зеленые флаги. Обгоны запрещены до момента пересечения первой линии
            сефти-кара, за исключением тех случаев, когда машина замедляется из-за очевидных проблем. Это правило не
            относится к ситуации, когда машина безопасности покидает трассу на последнем круге обгоны запрещены до
            конца круга.
        </p>
        <p>
            Круги, проведённые позади машины безопасности, идут в счет гоночной дистанции.
        </p>
        <p><b>
            Остановка гонки
        </b></p>
        <p>
            Гонка останавливается в случае блокировки трассы или если погодные условия не позволяют продолжить гонку.
            Решение об остановке гонки принимает директор гонки. В этом случае на светофоре над линией старта
            загораются красные сигналы и все посты маршалов показывают красные флаги.
        </p>
        <p>
            В момент остановки гонки выезд с пит-лейна закрывается и все пилоты должны медленно проследовать к
            стартовой решетке, где должны остановиться на стартовых местах в соответствии с прибытием туда.
        </p>
        <p>
            Если некоторые автомобили не могут проследовать к линии красного флага из-за блокировки трассы, они могут
            продолжить движение после устранения препятствия на трассе и будут выстроены в порядке, в котором они были
            до остановки трассы.
        </p>
        <p>
            Во время остановки гонки измерение времени не прекращается, работа может производиться только над
            автомобилями, выстроенными за линией красного флага. Если пилот заедет на пит-лейн, на него будет наложен
            штраф «проезд по пит-лейн» после рестарта гонки.
        </p>
        <p>
            Разрешается проводить любые работы над автомобилями, которые не мешают возобновлению гонки.
        </p>
        <p>
            Все время остановки гонки пилоты должны следовать указаниям маршалов.
        </p>
        <p>
            Как только причина остановки гонки устранена, начинается процедура возобновления гонки, аналогичная
            процедуре старта за машиной безопасности. За 2 минуты до намеченного возобновления гонки, все пилоты,
            находящиеся на стартовой решетке впереди лидера, должны без обгонов пройти круг и встать позади всех на
            стартовой решетке.
        </p>
        <h3>Финиш</h3>
        <p>
            Сигнал об окончании гонки (клетчатый флаг) должен быть показан на линии финиша лидеру после прохождения им
            полной дистанции или после истечения двух часов + время, потраченное на остановку гонки.
        </p>
        <p>
            После того, как сигнал об окончании гонки будет показан, все пилоты, пересекающие линию финиша, заканчивают
            гонку и должны проследовать в закрытый парк.
        </p>
        <p>
            Если сигнал об окончании гонки по ошибке будет показан раньше, чем нужно, то гонка считается законченной,
            результат будет засчитан по последнему кругу, который преодолел лидер до того, как был показан сигнал об
            окончании гонки.
        </p>
        <p>
            Если по ошибке сигнал об окончании гонки не будет показан в нужное время, то гонка считается законченной,
            в соответствии с вышеприведённым правилом, в установленное время.
        </p>
        <h3>Классификация</h3>
        <p>
            Классификация является единственным официальным результатом гран-при.
        </p>
        <p>
            Классифицированными являются не дисквалифицированные пилоты, прошедшие не менее 90% от количества кругов
            победителя (округление ведётся в меньшую сторону). Примеры:
            <ul class="tab">
                <li>
                    Если победитель прошёл 70 кругов, то все пилоты, прошедшие (70x0,9) = (63) = 63 и более кругов
                    будут классифицированы;
                </li>
                <li>
                    Если победитель прошёл 71 круг, то все пилоты, прошедшие (71x0,9) = (63,9) = 63 и более кругов
                    будут классифицированы.
                </li>
            </ul>
        </p>
        <p>
            Места в классификации распределяются следующим образом:
            <ul class="tab">
                <li>
                    Высшие места занимают пилоты, прошедшие больше кругов;
                </li>
                <li>
                    Среди пилотов, прошедших равное количество кругов высшее место займет пилот, прошедший эти круги за
                    наименьшее время.
                </li>
            </ul>
        </p>
        <p>
            По окончании гонки первые 10 машин (пилотов), а также их команды, получают очки по системе
            25-18-15-12-10-8-6-4-2-1. Пилоты, занявшие первое, второе и третье места, поднимаются на подиум и получают
            кубки. Также кубок получает представитель команды-победителя. В честь победителя играет гимн его страны,
            а затем — гимн страны, за которую выступает команда победителя. Затем следует традиционный душ из
            шампанского.
        </p>
        <h3>Флаги</h3>
        <a>
            Для дополнительной сигнализации гонщикам о различных событиях во время свободных заездов, квалификации и
            гонки маршалы используют флаги различного цвета. Вместо флагов могут использоваться специальные световые
            табло.
        </a>
        <table class="table">
            <tr>
                <th>
                    №
                </th>
                <th>
                    Наименование
                </th>
                <th>
                    Вид
                </th>
                <th>
                    Назначение
                </th>
            </tr>
            <tr>
                <td colspan="4">
                    <b>
                        Флаги используемые дирекцией гонки. Решение о демонстрации такого флага принимает исключительно
                        дирекция гонки.
                    </b>
                </td>
            </tr>
            <tr>
                <td>
                    1.
                </td>
                <td>
                    Клетчатый чёрно-белый флаг
                </td>
                <td>
                    <img src="static/img/flag_1.png" alt="Клетчатый чёрно-белый флаг">
                </td>
                <td>
                    Сигнал об окончании гонки или практики. Демонстрируется на финише последнего круга гоночной
                    дистанции или в конце практики.
                </td>
            </tr>
            <tr>
                <td>
                    2.
                </td>
                <td>
                    Красный флаг
                </td>
                <td>
                    <img src="static/img/flag_2.png" alt="Красный флаг">
                </td>
                <td>
                    Остановка гонки. Этот флаг одновременно демонстрируют все маршалы по трассе. Все гонщики должны
                    немедленно прекратить гонку и выполнять действия по процедуре «остановка гонки».
                </td>
            </tr>
            <tr>
                <td>
                    3.
                </td>
                <td>
                    Флаг, состоящий из двух треугольников (чёрного и белого)
                </td>
                <td>
                    <img src="static/img/flag_3.png" alt="Флаг, состоящий из двух треугольников (чёрного и белого)">
                </td>
                <td>
                    Предупреждение участнику за неспортивное поведение. Демонстрируется вместе с белым номером машины
                    на чёрной доске. Выносится лишь однажды, следующее проявление подобного рода действий может повлечь
                    штрафные санкции.
                </td>
            </tr>
            <tr>
                <td>
                    4.
                </td>
                <td>
                    Чёрный флаг
                </td>
                <td>
                    <img src="static/img/flag_4.png" alt="Чёрный флаг">
                </td>
                <td>
                    Дисквалификация участника. Демонстрируется вместе с белым номером машины на чёрной доске. Гонщик,
                    получивший подобный сигнал, в течение круга должен покинуть гонку и остановиться в боксах своей
                    команды. Решение о дисквалификации принимается стюардами ФИА.
                </td>
            </tr>
            <tr>
                <td>
                    5.
                </td>
                <td>
                    Чёрный флаг с оранжевым диском в центре
                </td>
                <td>
                    <img src="static/img/flag_5.png" alt="Чёрный флаг с оранжевым диском в центре">
                </td>
                <td>
                    Демонстрируется вместе с белым номером машины на чёрной доске. Сообщение гонщику, что техническое
                    состояние его машины составляет угрозу для него самого и/или безопасного проведения гонки.
                    В течение круга пилот должен остановиться в боксах своей команды для устранения неисправностей.
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <b>
                        Флаги используемые маршалами на трассе
                    </b>
                </td>
            </tr>
            <tr>
                <td>
                    1.
                </td>
                <td>
                    Жёлтый флаг
                </td>
                <td>
                    <img src="static/img/flag_6.png" alt="Жёлтый флаг">
                </td>
                <td>
                    Сигнал о возможной опасности. Возможны варианты демонстрации:
                    <ul>
                        <li>
                            Одиночный флаг — снизить скорость, обгоны запрещены, опасность вблизи трассы.
                        </li>
                        <li>
                            Двойной флаг — снизить скорость, обгоны запрещены, быть готовым к необычной траектории ил
                            остановке.
                        </li>
                    </ul>
                    Обгоны запрещены, начиная с места демонстрации маршалом жёлтого флага и пока гонщик не проедет
                    зелёный флаг, сигнализирующий о конце опасной зоны.
                </td>
            </tr>
            <tr>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
            </tr>
                        <tr>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
            </tr>
                        <tr>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
            </tr>
                        <tr>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
            </tr>
                        <tr>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
            </tr>
                        <tr>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
            </tr>
                        <tr>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
            </tr>
                        <tr>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
            </tr>
                        <tr>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
                <td>
                    2.
                </td>
            </tr>
        </table>





    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
</body>
</html>