{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block attic %}
{{ super() }}
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block mainmenu %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="content">
    <h2>Mercedes AMG Petronas Motorsport</h2>
    <p>
        Немецкая команда-автопроизводитель, принимающая участие в Гран-при Формула-1 начиная с 2010 года.
        После долгого периода, со времен участия команды в чемпионатах мира 1954—1955 годов, в период которого
        Хуан Мануэль Фанхио завоевал два чемпионства, новой команде удалось достичь гораздо большего успеха и завоевать
        восемь кубков конструкторов 2014, 2015, 2016, 2017, 2018, 2019, 2020 и 2021 годов. Пилот команды Льюис Хэмилтон
        завоевал семь чемпионских титулов в 2014, 2015б 2017, 2018, 2019, и 2020 годах. В 2016 чемпионом стал
        Нико Росберг.
    </p>
    <h3>История команды.</h3>
    <p>
        16 ноября 2009 года было официально объявлено о том, что Mercedes-Benz выкупает команду Brawn, а Росс Браун
        остаётся в качестве руководителя команды. База команды осталась в Брэкли, Великобритания, которая находится
        менее чем в 45 километрах от завода моторов Mercedes-Benz в Бриксворте.
    </p>
    <p>
        К бывшему пилоту Williams Нико Росбергу присоединился возвратившийся в Формулу-1 семикратный чемпион мира
        Михаэль Шумахер, а Ник Хайдфельд стал резервным гонщиком команды. В конце 2012 года Шумахер завершил карьеру
        в Формуле-1. А новым напарником Нико Росберга стал чемпион 2008 года Льюис Хэмилтон.
    </p>
    <p>
        Следующие три года команда провела, полностью доминируя в чемпионате. Чемпионом 2014—2015 годов стал Хэмилтон,
        Росберг же оба раза завоевал звание вице-чемпиона. В 2016 году они поменялись местами — Росберг стал чемпионом,
        а через два дня после завоевания титула объявил о завершении карьеры в автоспорте. Новым напарником Хэмилтона
        стал Валттери Боттас.
    </p>
    <p>
        После этого ещё в четырёх сезона команда Mercedes имела тотальное доминирование. В 2017—2020 годах чемпионом
        снова становился Льюис Хэмилтон, а Валттери Боттас два раза становился вице-чемпионом и два раза останавливался
        на 3 месте.
    </p>
</div>
<div class="content">
    <h2>Scuderia Ferrari</h2>
    <p>
        Итальянская автогоночная команда, представляющая собой подразделение автомобильной компании Феррари
        (итал. Gestione Sportiva), занимающееся гонками. Хотя это подразделение продолжает заниматься гоночной
        деятельностью многочисленных клиентов Феррари и частных команд, его основные усилия и финансы сосредоточены
        на команде Формулы-1, Scuderia Ferrari.
    </p>
    <p>
        Команда принимает участие в гонках Формулы-1 с 1950 года по сей день и является самой старой и успешной
        командой в чемпионате. Многочисленных итальянских болельщиков команды часто называют «тифози» (итал. tifosi).
        Scuderia Ferrari переводится с итальянского как «Конюшня Феррари», скудериями также называют и другие гоночные
        команды, как Формулы-1, например бывшую конюшню Scuderia Toro Rosso — нынешнюю Scuderia AlphaTauri, так и
        никогда не выступавшие в Формула-1, как например американскую Scuderia Corsa.
    </p>
    <p>
        В состав команды, в настоящее время входят Carlos Sainz Vázquez de Castro. (Испания). Выступает за команду
        с 2021 года, и Charles Marc Hervé Perceval Leclerc (Монако) вошедший в состав команды в 2019 году.
    </p>
    <p>
        Больше всего чемпионских титулов команде Ferrari принёс немецкий гонщик Михаэль Шумахер. Он — обладатель 7
        чемпионских титулов, 5 из них завоевал вместе с Ferrari (в 2000—2004 гг.). В 2006 году, после победы на
        Гран-при Италии, Шумахер заявил, что покидает чемпионат. Однако он сохранил за собой место в Scuderia Ferrari.
        В обязанности семикратного чемпиона входило тестирование новых спортивных машин Ferrari. В том числе, он мог
        быть привлечён к тестам формульных болидов команды, если это было бы необходимо. На сезон 2010 года Шумахер
        завершил отношения с итальянской командой и подписал контракт боевого пилота с командой Mercedes.
    </p>
    <h3>История команды.</h3>
    <p>
        Команда Феррари основана Энцо Феррари в 1929 году в качестве спонсора для гонщиков-любителей в различных гонках,
        хотя сам Феррари участвовал в гонках на машинах Фиат и до этой даты. Идея возникла 16 ноября за ужином в
        Болонье, где Феррари обратился за финансовой помощью к Аугусто и Альфредо Каниато, наследникам текстильного
        производства, и состоятельному гонщику-любителю Марио Тадини. Затем он собрал команду, которая на своём пике
        включала более сорока пилотов, большинство из них выступали на машинах «Альфа Ромео». Сам Энцо продолжал
        принимать участие в гонках до рождения первого сына Дино в 1932 году.
    </p>
    <p>
        Феррари руководил многими уже состоявшимися пилотами (особенно Тацио Нуволари, Джузеппе Кампари, Акилле Варци
        и Луи Широн) и несколькими талантливыми новичками (такими как Тандини, Гай Молл, Карло Пинтакудо и
        Антонио Бривио) из своей штаб-квартиры в Модене до 1938 года, когда он стал управляющим гоночным подразделением
        компании Альфа Ромео — Alfa Corse. В 1939 году он ушёл из Альфа Ромео, узнав о намерении компании выкупить его
        долю и поглотить команду. Его компания стала называться Auto Avio Costruzioni Ferrari, она производила станки
        в ожидании окончания четырёхлетнего запрета на участие в соревнованиях после ухода из Альфы.
    </p>
    <p>
        Несмотря на соглашение с Альфа Ромео, Феррари немедленно начал разработку собственного гоночного автомобиля
        — Ferrari Tipo 815 с восьмицилиндровым двигателем объёмом 1,5 литра. Tipo 815, разработанные Альберто Массимино,
        стали первыми настоящими машинами Феррари, но после того как в 1940 году Альберто Аскари и маркиз
        Лотарио Рангони Макиавелли ди Модена участвовали на них в «Милле Милья», Вторая мировая война временно положила
        конец гонкам, и Tipo 815 больше не принимали участия в соревнованиях. Феррари продолжал производить станки,
        в 1943 году он перенёс штаб-квартиру в Маранелло, где она подверглась бомбардировке в 1944 году.
    </p>
    <p>
        Правила для Мирового Чемпионата Гран-при были разработаны ещё до войны, но понадобилось несколько лет, чтобы
        они начали действовать. В это время Феррари возобновил свои работы в Маранелло и создал Ferrari Tipo 125 с
        12-цилиндровым 1,5-литровым двигателем, который принимал участие в нескольких Гран-при, не входивших в чемпионат.
    </p>
</div>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}